* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    background: #080255bf;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteiner-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

.card-calculadora {
    display: grid;
    grid-template: 90px repeat(5, 1fr)/ repeat(4, 1fr);
    background: #071015;
    width: 100%;
    max-width: 320px;
    aspect-ratio: 3/4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.265);
}

.tela {
    padding-top: 25px;
    text-align: right;
    color: #370fa7;
    background-color: rgb(12, 6, 6);
    border-radius: 10px;
    margin-bottom: 5px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-area: 1/1/2/-1;
}

#resp {
    margin-right: 10px;
    color: #faf9fc;
    padding: 05px;

    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.229);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.btn {
    color: aliceblue;
    background-color: #1B2F38;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.141);
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    transition: transform .5s ease;

}


.btn:active {
    transform: scale(0.96);

}

.operador,
#btn-igual {
    background-color: #2C1F38;
}

#allClear {
    color: rgb(246, 109, 109);
    background-color: #6a020b;
    grid-area: 6/1/7/2;
}

#zero {
    grid-area: 5/2/6/4;
}

#btn-igual {
    grid-area: 6/3/7/-1;
}

#clear {
    color: rgb(246, 109, 109);
    background-color: #6a020b;
    grid-area: 6/2/7/3;
}